.externalToolBuilders
maven-eclipse.xml
.classpath
.settings/
*.project
.metadata
*.irb-history
test-output/
target/
bin/
*.DS_Store
lint.xml
gen/
out/

#intellij
selendroid.ipr
selendroid.iws
.idea/
*.iml

.gradle/
gradle/
gradlew
gradlew.bat
local.properties

build/
