<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="0.18.0-SNAPSHOT" package="io.selendroid.server">

    <uses-sdk android:minSdkVersion="10"/>

    <instrumentation android:name="io.selendroid.server.ServerInstrumentation" android:targetPackage="io.selendroid.testapp"/>
    <instrumentation android:name="io.selendroid.server.LightweightInstrumentation" android:targetPackage="io.selendroid.testapp"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    <application android:debuggable="true" android:icon="@drawable/selenium_icon" android:label="Selendroid">
        <service android:name="io.selendroid.server.SelendroidAccesibilityService"
                 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
                <category android:name="android.accessibilityservice.category.FEEDBACK_AUDIBLE" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_HAPTIC" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_SPOKEN" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibilityservice" />
        </service>
        <service android:name="io.selendroid.server.AccessibilityServiceInteractionService" android:exported="true" android:enabled="true"/>
    </application>

</manifest>
