.irb-history
*.gem
*.apk
*.rbc
*.DS_Store
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
selendroid-test-app-0.1-SNAPSHOT.apk
selendroid-server-0.0.1.apk
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
