@CHARSET "UTF-8";


body{
	background: #CCCCCC;
	font-family:  sans-serif;
	margin:0%;
	padding: 0%;
	font-size: 0.9em;

}

h3{
font-weight: bold;
	border-bottom:3px solid #FF9900;
	color: #444444;
}

h4{
	font-weight: bold ;
	border-bottom:3px solid #FF9900;
	color: #444444;
}


#simulator {
	position: absolute;
	margin-top: 45px;
	left: 0px;
	float:left;
	margin-bottom:6em;
	min-height:95%;
}
/* making it of size 0
 to have the rotate of the top left corner. */
#rotationCenter {
	position: absolute;
	height: 0px;
	width: 0px;
}
#frame {
	position: absolute;
	top: 0px;
	left: 0px;
}
#screen {
	position: absolute;
}
#mouseOver {
	position: absolute;
	z-index: 4;
}
#tree {
	height: 92%;
	float:right;
	width: 30%;
	overflow:auto;
	margin-top:45px;

}
#details {
	float:right;
	width: 18%;
	border:1px solid #CCCCCC;
	border-radius:8px;
	-moz-border-radius:8px; /* Firefox 3.6 and earlier */
	padding: 10px;
	background: #FAFAFA;
	color: #444444;

	height: 92%;
	overflow:auto;
	margin-top:45px;

}

#topmenu{
	position:absolute;
	background: #455372;
	width:100%;
	height:45px;
	}
	
#picture{
	float:left;

	-moz-transform: scale(0.6);
	margin-top: 0em;

}


#topmenu ul li {
	margin-right: 2em;
	padding-right: 2em;	list-style: none;
	display: inline;
	color: #FFFFFF;
	}
	
		


#topmenu ul{
	margin-top: 0.9em;

	display: inline;
	float:left;
}

#topmenu a:visited, a:link{
	text-decoration:none;
	color: #FFFFFF;
}


#topmenu a:hover{
	text-decoration: none;
	border-bottom:3px solid #FF9900;
	color: #FFFFFF;
}

#details p{
	width:100%;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 0.3em;
	
}
#highlight {
	position: absolute;
	background-color: yellow;
	left: 0px;
	top: 45px;
	height: 0px;
	width: 0px;
	z-index: 3;
	opacity: 0.5;
}


.overlay, .overlayLanguages{
    background:transparent url(images/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    
}

.box, .boxlanguages{
    position:fixed;
    top:-500px;
    left:30%;
    right:30%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
	max-height: 400px;
    border:2px solid #455372;
    border-radius:8px;
	-moz-border-radius:8px; /* Firefox 3.6 and earlier */
    z-index:101;


}

.boxlanguages ul{
	list-style: none;
}

.boxlanguages ul li{
	margin-bottom: 0.3em;
	text-transform:uppercase;
}

a.boxclose, a.boxcloselanguages{
    float:right;
    width:26px;
    height:26px;
    background:transparent url(images/cancel.png) repeat top left;
    margin-top:-10px;
    margin-right:-10px;
    cursor:pointer;
}
